:root{
    --bs-blue: #037BC0;
    --bs-green: #8cbc00;
    
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    
}

h1{
    font-size: 3.8rem;
}
@media (min-width: 768px){
    h1{
        font-size: 5rem;
    }
}
/* Resscribir colores  */
.text-primary{
    color: var(--bs-blue) !important;
}
.btn-success{
    background-color: var(--bs-green) !important;
}
.bg-primary,
.btn-primary{
    background-color: var(--bs-blue) !important;
}


h2{
    font-size: 3.2rem;
}
@media (min-width: 768px){
    h2{
        font-size: 4rem;
    }
}


h3{
    font-size: 2.4rem;
}
@media (min-width: 768px){
    h3{
        font-size: 3rem;
    }
}

.hero{
    background-image: url(../img/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
@media (min-width: 768px){
    .hero{
        height: 55rem;
    }
}


/* Productos */

@media (min-width: 768px){
    .producto img {
        height: 45rem;
        width: 100%;
        /* tomas los 43 de altura y llena toda la proporcion */
        object-fit: cover; 
    }
}
/* transicion */
.categoria img{
    transition-property: transform;
    transition-duration: .3s;
}
.categoria img:hover {
    transform: scale(1.2);
}
/* .galeria li{
    margin-bottom: 1rem;
    
}
.galeria li:last-of-type{
    margin: 0;
} */

.galeria li:not(:last-child){
    margin-bottom: 1rem;
    
}

.form-control{
    padding: 1rem;
    font-size: 1.6rem;
  
}